.DS_Store
/.build
/dist
/.iconwork.*
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.env
.env.*
!.env.example
